<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the deranged blog</title>
</head>
<body>
    welcome to the deranged blog

    <h3>contact me:</h3>
    <ul>
        <li>email</li>
        <li>github</li>
        <li>instagram</li>
    </ul>

    <h3>latest posts:</h3>

    <a href="/posts">all posts</a>
</body>
</html>