<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/index.css" />
    <title>the deranged blog</title>
  </head>
  <body>
    <h2>im nehan, welcome to my blog</h2>

    <main>
      <h3>contact me:</h3>
      <p>email: <a href="mailto:nehanyaser@gmail.com"><span>nehanyaser@gmail.com</span></a></p>
      <p>github: <a href="https://github.com/webdevsint" target="_blank"><span>webdevsint</span></a></p>

      <br />

      <h3>latest posts:</h3>

      <div class="posts">
        <div class="status">fetching posts...</div>
      </div>
    </main>

    <a href="/posts" style="text-decoration: underline; padding: 1.5rem"
      >all posts</a
    >

    <div class="footer">
      <p>
        the <b>deranged blog</b> <br />
        by
        <a href="https://instagram.com/nehan_yaser/" target="_blank"
          >nehan yaser</a
        >.
      </p>
    </div>

    <script src="./scripts/index.js"></script>
  </body>
</html>
