<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6.2.0-10/tinymce.min.js"
      referrerpolicy="origin"
    ></script>

    <script>
      tinymce.init({
        selector: "#body",
        plugins: [
          "a11ychecker",
          "advlist",
          "advcode",
          "advtable",
          "autolink",
          "checklist",
          "export",
          "lists",
          "link",
          "image",
          "charmap",
          "preview",
          "anchor",
          "searchreplace",
          "visualblocks",
          "powerpaste",
          "fullscreen",
          "formatpainter",
          "insertdatetime",
          "media",
          "table",
          "help",
          "wordcount",
        ],
        toolbar:
          "undo redo | formatpainter casechange blocks | bold italic backcolor | " +
          "alignleft aligncenter alignright alignjustify | " +
          "bullist numlist checklist outdent indent | removeformat | a11ycheck code table help",
      });
    </script>
    <title>create a new blog post</title>
  </head>
  <body>
    <h2>create a new post</h2>
    <div class="form">
      <label for="title">post title:</label>
      <input type="text" name="title" id="title" required /> <br />

      <label for="author">post author:</label>
      <input
        type="text"
        name="author"
        id="author"
        value="<%= user %>"
        required
      />
      <br />

      <label for="body">post body:</label>
      <textarea name="body" id="body" required></textarea> <br />

      <label for="explicit">explicit flag:</label>
      <select name="explicit" id="explicit">
        <option value="false">false</option>
        <option value="true">true</option>
      </select>
      <br />
      <br />

      <button onclick="submitHandler()" type="submit">create post</button> or

      <a href="/admin" class="back">cancel</a>
    </div>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        text-transform: lowercase;
      }

      body {
        padding: 1.5rem;
      }

      h2 {
        margin-bottom: 1.5rem;
      }

      input {
        margin-bottom: 10px;
        margin-left: 10px;
      }

      button {
        padding: 4px 6px;
        outline: none;
        border: 2px solid black;
        background: white;
        cursor: pointer;
      }
      
      a {
        color: black;
      }

      .tox-notifications-container {
        display: none;
      }
    </style>

    <script>
      function submitHandler() {
        const title = document.getElementById("title").value;
        const author = document.getElementById("author").value;
        const body = tinymce.get("body").getContent();
        const explicit = document.getElementById("explicit").value;

        if (title === "" || author === "" || body === "") {
          alert("please fill up all the fields");
        } else {
          const payload = {
            title,
            author,
            body,
            explicit,
          };

          fetch("<%= api %>/?key=<%= key %>", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
          })
            .then((response) => response.json())
            .then((data) => {
              alert("new post created!");
              location.reload();
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        }
      }
    </script>
  </body>
</html>
