<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/posts.css" />
    <title>all posts</title>
  </head>
  <body>
    <main>
      <h2>all blog posts:</h2>
      <a href="/posts?sort=old" style="text-decoration: underline" class="sort"
        >sort by old</a
      >

      <div class="status">fetching posts...</div>
    </main>
    <a href="/" class="back">← home</a>

    <div class="footer">
      <p>
        the <b>deranged blog</b> <br />
        by
        <a href="https://instagram.com/nehan_yaser/" target="_blank"
          >nehan yaser</a
        >.
      </p>
    </div>

    <style>
      button {
        background: white;
        padding: 5px;
        margin: 8px 0;
        border: 2px solid black;
        cursor: pointer;
      }

      button:hover {
        background: #de7b7b;
        transition: 0.1s;
      }
    </style>

<script src="/scripts/admin.js"></script>
  </body>
</html>
